attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.7
docutils==0.22.4
faiss==1.5.3
filelock==3.28.0
HTMLParser==0.0.2
ipython==9.12.0
ipywidgets==8.1.8
jnius==1.1.0
keyring==25.7.0
numpy==2.4.4
openai==2.32.0
opencv_python==4.13.0.92
pdf2image==1.17.0
protobuf==7.34.1
pyOpenSSL==26.0.0
redis==7.4.0
sentence_transformers==5.3.0
Sphinx==9.1.0
streamlit==1.56.0
thread==2.0.6
typing_extensions==4.15.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
